.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.project__item {
  background: var(--grey-color-light);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project__item:hover {
  border-color: var(--details);
  background: var(--white-color);
  transform: scale(1.1);
}

.project__item-image {
  overflow: hidden;
  border-radius: 1.5rem;
}

.project__item h3 {
  margin: 1.2rem 0 2rem;
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project__description:hover {
  position: relative;
  top: 50px;
  background: rgb(212, 118, 118, 0.5);
  color: rgb(99, 2, 2);
}

/* ============== MEDIUM ============== */

@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== SMALL ============== */

@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .project__item:hover {
    transform: scale(1.02);
  }
}
